html {
  box-sizing: border-box;
  
  min-height: 100%;
  
  background-color: transparent;
  background-image: linear-gradient(#FEFFD4, #FFD4F2);
  background-attachment: fixed;

  border: 1rem solid blue;
  margin: 0;
  padding: 1rem;
	
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, sans-serif; 
	font-weight: bold;
	font-size: 1.5rem;
	color: blue;	
}

a {
	color: inherit;
	text-decoration: underline;
	font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h4 {
	text-transform: uppercase;
	letter-spacing: .5rem;
	margin-top: 2rem;
	margin-bottom: .2rem;
}